<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wyh.infrastructure.mapper.SystemUserMapper">

    <select id="getUsers" resultType="com.wyh.application.api.response.QueryUsersResponseDTO">
        SELECT
        U.PK_ID,
        U.USER_ID,
        U.USER_NM,
        CASE
        WHEN U.STATUS = '0' THEN '正常'
        WHEN U.STATUS = '1' THEN '删除'
        WHEN U.STATUS = '2' THEN '锁定'
        ELSE U.STATUS
        END STATUS,
        U.CRT_BY,
        DATE_FORMAT(U.CRT_TM,'%Y-%m-%d') CRT_TM
        FROM SYSTEM_USER U
        <where>
            <if test="data.status != null and data.status != ''">
                AND U.STATUS = #{data.status}
            </if>
            <if test="data.userId != null and data.userId != ''">
                AND U.USER_ID = #{data.userId}
            </if>
            <if test="data.userNm != null and data.userNm != ''">
                <bind name="userNm" value="'%' + data.userNm + '%'"/>
                AND U.USER_NM LIKE #{userNm}
            </if>
        </where>
    </select>

</mapper>